html {
  background: #223;
  color: #ddd;
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  text-align: center;
  max-height: 100vh;
  overflow: hidden;
}

body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  height: 100%;
  min-width: 200px;
  width: 50%;
  margin: 0;
  box-shadow: min(-100vw, -100vh) 0 0 max(200vw, 200vh) #334;
}

.main {
  width: 100%;
}

.main::before, .main::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  border-top: max(33vw, 400px) solid transparent;
  border-bottom: max(33vw, 400px) solid transparent;
}

.main::before {
  right: 45vw;
  border-right: max(15vw, 100px) solid #223;
}

.main::after {
  left: 45vw;
  border-left: max(15vw, 100px) solid #223;
}

.socials {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  font-size: 2em;
  max-width: 500px;
  margin: auto;
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
  color: #ddd;
}

@media (max-width: 425px) {
  .socials {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
